In [1]:
print("hello world")

hello world

In [2]:
import pandas as pd
data = [10, 20, 30, 40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [4]:
import pandas as pd
df = pd.read_csv('transactions.csv')

In [5]:
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [7]:
print(df.tail(1))

   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4

In [8]:
import pandas as pd

df = pd.read_csv('transactions.csv')

In [9]:
print(df.tail())

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [10]:
import pandas as pd 
df=pd.read_csv("transactions.csv")
df.rename(columns={"Quantity":"quant"},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [11]:
import pandas as pd 
from datetime import date
now=pd.to_datetime(str(date.today()),format='%Y-%m-%d')
print(now)

2025-04-22 00:00:00

In [12]:
import pandas as pd
df=pd.read_csv("transactions.csv")
second_row=df.iloc[1].values
print(second_row)

[2 '2011-05-26' 3.0 4 1]

In [13]:
import pandas as pd
df=pd.read_csv("transactions.csv")
row=df.iloc[2].values
print(row)

[3 '2011-06-16' 3.0 3 1]

In [14]:
import pandas as pd
df=pd.read_csv("transactions.csv")
foo = [True, False, True, False]
subset_rows = df[foo]
print(subset_rows)

ValueError: Item wrong length 4 instead of 10.

# Exercise questions:

In [22]:
import pandas as pd #summary of transaction
df=pd.read_csv("transactions.csv")
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [7]:
#print number of attribute
import pandas as pd

# Reading the CSV file into a DataFrame
df = pd.read_csv("transactions.csv")

# Printing the DataFrame
print(df)

# Counting and printing the number of attributes (columns)
print("Number of attributes (columns):", len(df.columns))
print(df.shape[1])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
Number of attributes (columns): 5
5

In [5]:
#print number of records
import pandas as pd

# Reading the CSV file into a DataFrame
df = pd.read_csv("transactions.csv")

# Printing the DataFrame
print(df)

# Counting and printing the number of attributes (columns)
print("Number of attributes (columns):", len(df))
print(df.shape[0])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
Number of attributes (columns): 10
5

In [10]:
#Get the row names
import pandas as pd

# Reading the CSV file into a DataFrame
df = pd.read_csv("transactions.csv")

# Printing the DataFrame
print(df)

# Getting and printing the row names (indices)
print("Row names (indices):", df.index.tolist())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
Row names (indices): [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
import pandas as pd

# Reading the CSV file into a DataFrame
df = pd.read_csv("transactions.csv")

# Printing the DataFrame
print(df)

# Getting and printing the column names
print("Column names:", df.columns.tolist())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
Column names: ['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [12]:
#View top 10 Records
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [13]:
#.Change the name of columns ProductID and UserID
df.rename(columns={"ProductID": "ItemID"}, inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ItemID  Quantity
0              1      2010-08-21     7.0       2         1
1              2      2011-05-26     3.0       4         1
2              3      2011-06-16     3.0       3         1
3              4      2012-08-26     1.0       2         3
4              5      2013-06-06     2.0       4         1
5              6      2013-12-23     2.0       5         6
6              7      2013-12-30     3.0       4         1
7              8      2014-04-24     NaN       2         3
8              9      2015-04-24     7.0       4         3
9             10      2016-05-08     3.0       4         4

In [14]:
#Order the rows of transactions by TransactionId descending, if ascending then ascending=True


df_ascending = df.sort_values(by="TransactionID", ascending=True)

print(df_ascending )

   TransactionID TransactionDate  UserID  ItemID  Quantity
0              1      2010-08-21     7.0       2         1
1              2      2011-05-26     3.0       4         1
2              3      2011-06-16     3.0       3         1
3              4      2012-08-26     1.0       2         3
4              5      2013-06-06     2.0       4         1
5              6      2013-12-23     2.0       5         6
6              7      2013-12-30     3.0       4         1
7              8      2014-04-24     NaN       2         3
8              9      2015-04-24     7.0       4         3
9             10      2016-05-08     3.0       4         4

In [35]:

df_ascending = df.sort_values(by="TransactionID", ascending=False)
print(df_ascending )

   TransactionID TransactionDate  UserID  ItemID  Quantity
9             10      2016-05-08     3.0       4         4
8              9      2015-04-24     7.0       4         3
7              8      2014-04-24     NaN       2         3
6              7      2013-12-30     3.0       4         1
5              6      2013-12-23     2.0       5         6
4              5      2013-06-06     2.0       4         1
3              4      2012-08-26     1.0       2         3
2              3      2011-06-16     3.0       3         1
1              2      2011-05-26     3.0       4         1
0              1      2010-08-21     7.0       2         1

In [15]:

df_ascending = df.sort_values(by=["Quantity","TransactionDate"], ascending=[True,False])

print(df_ascending )

   TransactionID TransactionDate  UserID  ItemID  Quantity
6              7      2013-12-30     3.0       4         1
4              5      2013-06-06     2.0       4         1
2              3      2011-06-16     3.0       3         1
1              2      2011-05-26     3.0       4         1
0              1      2010-08-21     7.0       2         1
8              9      2015-04-24     7.0       4         3
7              8      2014-04-24     NaN       2         3
3              4      2012-08-26     1.0       2         3
9             10      2016-05-08     3.0       4         4
5              6      2013-12-23     2.0       5         6

In [17]:
#ItemID", "Quantity", "TransactionDate", "TransactionID", "UserID"

df = df[["ItemID", "Quantity", "TransactionDate", "TransactionID", "UserID"]]

# Printing the updated DataFrame
print(df)

   ItemID  Quantity TransactionDate  TransactionID  UserID
0       2         1      2010-08-21              1     7.0
1       4         1      2011-05-26              2     3.0
2       3         1      2011-06-16              3     3.0
3       2         3      2012-08-26              4     1.0
4       4         1      2013-06-06              5     2.0
5       5         6      2013-12-23              6     2.0
6       4         1      2013-12-30              7     3.0
7       2         3      2014-04-24              8     NaN
8       4         3      2015-04-24              9     7.0
9       4         4      2016-05-08             10     3.0

In [40]:
#Make UserID the first column of transactions
df = df[["UserID","ItemID", "Quantity", "TransactionDate", "TransactionID"]]

# Printing the updated DataFrame
print(df)

   UserID  ItemID  Quantity TransactionDate  TransactionID
0     7.0       2         1      2010-08-21              1
1     3.0       4         1      2011-05-26              2
2     3.0       3         1      2011-06-16              3
3     1.0       2         3      2012-08-26              4
4     2.0       4         1      2013-06-06              5
5     2.0       5         6      2013-12-23              6
6     3.0       4         1      2013-12-30              7
7     NaN       2         3      2014-04-24              8
8     7.0       4         3      2015-04-24              9
9     3.0       4         4      2016-05-08             10

In [41]:
second_column = df.iloc[:, 1]
print(second_column)

0    2
1    4
2    3
3    2
4    4
5    5
6    4
7    2
8    4
9    4
Name: ItemID, dtype: int64

In [42]:
#Extracting arrays from a Data Frame. Get the 2nd column
second_column_array = df.iloc[:, 1].to_numpy()
print(second_column_array)

[2 4 3 2 4 5 4 2 4 4]

In [44]:
#Get the ProductID Array
second_column_array = df["ItemID"].to_numpy()
print(second_column_array)

[2 4 3 2 4 5 4 2 4 4]

In [45]:
#Row subsetting, subset rows 1,3 and 6
subset_rows = df.iloc[[1, 3, 6]]

print(subset_rows)

   UserID  ItemID  Quantity TransactionDate  TransactionID
1     3.0       4         1      2011-05-26              2
3     1.0       2         3      2012-08-26              4
6     3.0       4         1      2013-12-30              7

In [18]:
#. subset rows excluding 1,3 and 6
subset_rows_excluding = df.drop([1, 3, 6])
print(subset_rows_excluding)

   ItemID  Quantity TransactionDate  TransactionID  UserID
0       2         1      2010-08-21              1     7.0
2       3         1      2011-06-16              3     3.0
4       4         1      2013-06-06              5     2.0
5       5         6      2013-12-23              6     2.0
7       2         3      2014-04-24              8     NaN
8       4         3      2015-04-24              9     7.0
9       4         4      2016-05-08             10     3.0

In [48]:
#. subset rows excluding 1,3 and 6
e=[0,1,2]
s=df.loc[[i for i in df.index if i not in e]]
print(s)

   UserID  ItemID  Quantity TransactionDate  TransactionID
3     1.0       2         3      2012-08-26              4
4     2.0       4         1      2013-06-06              5
5     2.0       5         6      2013-12-23              6
6     3.0       4         1      2013-12-30              7
7     NaN       2         3      2014-04-24              8
8     7.0       4         3      2015-04-24              9
9     3.0       4         4      2016-05-08             10

In [49]:
print(df.head(3))

   UserID  ItemID  Quantity TransactionDate  TransactionID
0     7.0       2         1      2010-08-21              1
1     3.0       4         1      2011-05-26              2
2     3.0       3         1      2011-06-16              3

In [50]:
df.tail(2)

   UserID  ItemID  Quantity TransactionDate  TransactionID
8     7.0       4         3      2015-04-24              9
9     3.0       4         4      2016-05-08             10

   UserID  ItemID  Quantity TransactionDate  TransactionID
0     7.0       2         1      2010-08-21              1
1     3.0       4         1      2011-05-26              2
2     3.0       3         1      2011-06-16              3
3     1.0       2         3      2012-08-26              4
4     2.0       4         1      2013-06-06              5
5     2.0       5         6      2013-12-23              6
6     3.0       4         1      2013-12-30              7
7     NaN       2         3      2014-04-24              8
8     7.0       4         3      2015-04-24              9
9     3.0       4         4      2016-05-08             10

In [25]:
#exclude last two rows
d=df.drop(index=df.index[-2:])

d

   ItemID  Quantity TransactionDate  TransactionID  UserID
0       2         1      2010-08-21              1     7.0
1       4         1      2011-05-26              2     3.0
2       3         1      2011-06-16              3     3.0
3       2         3      2012-08-26              4     1.0
4       4         1      2013-06-06              5     2.0
5       5         6      2013-12-23              6     2.0
6       4         1      2013-12-30              7     3.0
7       2         3      2014-04-24              8     NaN

In [28]:
#exclude first 3 row
d=df.drop(index=df.index[:2])
d

   ItemID  Quantity TransactionDate  TransactionID  UserID
2       3         1      2011-06-16              3     3.0
3       2         3      2012-08-26              4     1.0
4       4         1      2013-06-06              5     2.0
5       5         6      2013-12-23              6     2.0
6       4         1      2013-12-30              7     3.0
7       2         3      2014-04-24              8     NaN
8       4         3      2015-04-24              9     7.0
9       4         4      2016-05-08             10     3.0

In [30]:
# Subset rows where Quantity>1
d=df[df['Quantity']>1]
d

   ItemID  Quantity TransactionDate  TransactionID  UserID
3       2         3      2012-08-26              4     1.0
5       5         6      2013-12-23              6     2.0
7       2         3      2014-04-24              8     NaN
8       4         3      2015-04-24              9     7.0
9       4         4      2016-05-08             10     3.0

In [36]:
#23. Subset rows where UserID=2
d=df[df['UserID']==1]
d

   ItemID  Quantity TransactionDate  TransactionID  UserID
3       2         3      2012-08-26              4     1.0

In [53]:
#24. Subset rows where Quantity>1 and UserID=2
 
d=df[(df['Quantity'] > 1) & (df['UserID'] == 2)]
d

   ItemID  Quantity TransactionDate  TransactionID  UserID
5       5         6      2013-12-23              6     2.0

In [59]:
#25. Subset rows where Quantity + UserID is >3
d=df[(df["Quantity"])+df['UserID']>6]
            
d

   ItemID  Quantity TransactionDate  TransactionID  UserID
0       2         1      2010-08-21              1     7.0
5       5         6      2013-12-23              6     2.0
8       4         3      2015-04-24              9     7.0
9       4         4      2016-05-08             10     3.0

In [64]:
#26. Subset rows where an external array, foo, is True
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]})
foo=np.array([True,False,True,False])
d=df[foo]
d

   A  B
0  1  5
2  3  7

In [66]:
#27. Subset rows where an external array, bar, is positive
df=pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]})
bar=np.array([1,-1,3,-2])
d=df[bar>0]
d

   A  B
0  1  5
2  3  7

In [71]:
#28. Subset rows where foo is TRUE or bar is negative
bar=np.array([1,-1,3,-2])
foo=np.array([True,True,False,False])
d=df[(bar<0) & foo]
d

   A  B
1  2  6

In [75]:
import pandas as pd
df = pd.read_csv('transactions.csv')
df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [84]:
#30. Subset by columns 1 and 3
d=df.iloc[:,[0,2]]
d

   TransactionID  UserID
0              1     7.0
1              2     3.0
2              3     3.0
3              4     1.0
4              5     2.0
5              6     2.0
6              7     3.0
7              8     NaN
8              9     7.0
9             10     3.0

In [89]:
#Subset by columns TransactionID and TransactionDate
d=df[['TransactionID','TransactionDate']]

d

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [94]:
d=['TransactionID','TransactionDate']
a=df[d]
a

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [99]:
#Updating the column
df['Foo']=df['UserID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo
0              1      2010-08-21     7.0          2         1  7.0
1              2      2011-05-26     3.0          4         1  3.0
2              3      2011-06-16     3.0          3         1  3.0
3              4      2012-08-26     1.0          2         3  1.0
4              5      2013-06-06     2.0          4         1  2.0

In [105]:
#update the rows
d=df.loc[len(df)]=[1,20-10-12,8,2,3,9.0]
df

    TransactionID TransactionDate  UserID  ProductID  Quantity  Foo
0             1.0      2010-08-21     7.0        2.0       1.0  7.0
1             2.0      2011-05-26     3.0        4.0       1.0  3.0
2             3.0      2011-06-16     3.0        3.0       1.0  3.0
3             4.0      2012-08-26     1.0        2.0       3.0  1.0
4             5.0      2013-06-06     2.0        4.0       1.0  2.0
5             6.0      2013-12-23     2.0        5.0       6.0  2.0
6             7.0      2013-12-30     3.0        4.0       1.0  3.0
7             8.0      2014-04-24     NaN        2.0       3.0  NaN
8             9.0      2015-04-24     7.0        4.0       3.0  7.0
9            10.0      2016-05-08     3.0        4.0       4.0  3.0
10            1.0            -2.0     8.0        2.0       3.0  9.0
11            1.0            -2.0     8.0        2.0       3.0  9.0
12            1.0            -2.0     8.0        2.0       3.0  9.0

In [113]:
#remove the rows 
df = df[df['UserID'] != 8.0]
df

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo
0            1.0      2010-08-21     7.0        2.0       1.0  7.0
1            2.0      2011-05-26     3.0        4.0       1.0  3.0
2            3.0      2011-06-16     3.0        3.0       1.0  3.0
3            4.0      2012-08-26     1.0        2.0       3.0  1.0
4            5.0      2013-06-06     2.0        4.0       1.0  2.0
5            6.0      2013-12-23     2.0        5.0       6.0  2.0
6            7.0      2013-12-30     3.0        4.0       1.0  3.0
7            8.0      2014-04-24     NaN        2.0       3.0  NaN
8            9.0      2015-04-24     7.0        4.0       3.0  7.0
9           10.0      2016-05-08     3.0        4.0       4.0  3.0

In [117]:
#36. Convert the TransactionDate column to type Date
import pandas as pd
df['TransactionDate']=pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID             float64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                 float64
Quantity                  float64
Foo                       float64
dtype: object

In [119]:
#37. Insert a new column, Foo=UserID+ProductID
df['Foo']=df['UserID']+df['ProductID']
df

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0            1.0      2010-08-21     7.0        2.0       1.0   9.0
1            2.0      2011-05-26     3.0        4.0       1.0   7.0
2            3.0      2011-06-16     3.0        3.0       1.0   6.0
3            4.0      2012-08-26     1.0        2.0       3.0   3.0
4            5.0      2013-06-06     2.0        4.0       1.0   6.0
5            6.0      2013-12-23     2.0        5.0       6.0   7.0
6            7.0      2013-12-30     3.0        4.0       1.0   7.0
7            8.0      2014-04-24     NaN        2.0       3.0   NaN
8            9.0      2015-04-24     7.0        4.0       3.0  11.0
9           10.0      2016-05-08     3.0        4.0       4.0   7.0